@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 2rem;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.design {
    height: 300px;
    background-image: url(/assets/Images/about/banner.jpg);
    text-align: center;
    padding-top: 80px;
}

.design .text h1 {
    font-size: 40px;
    color: white;
}

.design .text p {
    color: white;
    font-size: 22px;
}



.top {
    display: flex;
}

.top-menu {
    background-color: #21c5c5;
    height: 250px;
    color: white;
    width: 25%;
    padding-top: 90px;
    padding-left: 70px;
}

.top-menu-box {
    display: flex;

}

.top-menu-box .text-right {
    padding-left: 30px;
    padding-top: 9px;
}

.top-menu-box .text-right h2 {
    font-size: 25px;
}


i {
    font-size: 70px;
}

.aboutme {
    display: flex;
    justify-content: space-around;
}

.aboutme .right-text {
    width: 50%;
    background-color: #F5F5F5;
    text-align: left;
    padding-top: 150px;
    padding-left: 40px;
}

.aboutme .right-text h1 {
    font-size: 40px;
}

.aboutme .right-text p {
    font-size: 20px;
    color: gray;
}

.aboutme .left-img {
    width: 50%;
}

.aboutme .left-img img {
    width: 100%;
}


.vid {
    margin-top: 50px;
    height: 300px;
    text-align: center;
}

.vid h1 {
    font-size: 50px;
}

.vid .about button {
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 0%;
    font-size: 20px;
    background-color: #21c5c5;
    border: none;
    margin: 50px;
}

/* Footer */

.footer {
    background-color: #141414;
    padding: 70px 0;
}

.footer-content-left {
    padding: 30px 15px 0;
}

.footer-content-left h3 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 20px;
}

.footer-content-left p {
    color: #bcbcbc;
    font-size: 15px;
    max-width: 250px;
}

.footer-content-main {
    padding: 30px 15px 0;
}

.footer-content-main a {
    color: #bcbcbc;
    font-size: 15px;
    text-decoration: none;
}

.footer-content-main p {
    color: #bcbcbc;
    font-size: 15px;
}

.footer-content-right {
    display: flex;
    padding: 30px 15px 0;
}

.footer-content-right ul li {
    list-style: none;
}

.footer-content-right a {
    text-decoration: none;
    font-size: 15px;
    color: #bcbcbc;
}