@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 2rem;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.design {
    height: 300px;
    background-color: #F5F5F5;
    text-align: center;
    padding-top: 80px;
}

.design .text h1 {
    font-size: 40px;
}

.design .text p {
    color: gray;
    font-size: 22px;
}

menu {
    height: 300px;
}

.menu .menu-img {
    display: flex;
    width: 100%;
    gap: 0;
}

.menu .menu-img img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
}


/* Footer */

.footer {
    background-color: #141414;
    padding: 70px 0;
}

.footer-content-left {
    padding: 30px 15px 0;
}

.footer-content-left h3 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 20px;
}

.footer-content-left p {
    color: #bcbcbc;
    font-size: 15px;
    max-width: 250px;
}

.footer-content-main {
    padding: 30px 15px 0;
}

.footer-content-main a {
    color: #bcbcbc;
    font-size: 15px;
    text-decoration: none;
}

.footer-content-main p {
    color: #bcbcbc;
    font-size: 15px;
}

.footer-content-right {
    display: flex;
    padding: 30px 15px 0;
}

.footer-content-right ul li {
    list-style: none;
}

.footer-content-right a {
    text-decoration: none;
    font-size: 15px;
    color: #bcbcbc;
}